.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.editor-mirror.ace_editor {
  width: calc(100% - 345px);
  height: 100vh; 
  /*font-family: 'Courier,monospace' !important;*/
  font-size: 12px;
  float: left; 
  position: relative;
  left: 345px;
}

.file-tree {
  width: 332px; 
  float: left; 
  background: #E0E0E0;
  height: 100vh; 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  padding-left: 13px;
  position: fixed;
}

.file-tree .title {
  margin-top: 44px;
  margin-left: 28px; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  margin-bottom: 27px;
  color: #000000;
}

.file-tree .level {
  margin-left: 28px;
  cursor: pointer;
}

.file-tree .arrow-down-icon {
  background-image: url('./assets/images/arrow-down.svg');
  width: 12.5px;
  height: 6.25px; 
  float: left; 
  background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 10px;
}

.file-tree .arrow-left-icon {
  background-image: url('./assets/images/arrow-left.svg');
  width: 6.25px;
  height: 12.5px; 
  float: left; 
  background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 6px;
}

.file-tree .folder-open-icon {
  background-image: url('./assets/images/folder.svg');
  background-size: cover; 
  background-repeat:  no-repeat;
  width: 29px; 
  height: 23px; 
  margin-left: 13px; 
  float: left; 
}

.file-tree .folder-closed-icon {
  background-image: url('./assets/images/folder-closed.svg');
  background-size: cover; 
  background-repeat:  no-repeat;
  width: 29px; 
  height: 23px; 
  margin-left: 13px; 
  float: left; 
}

.file-tree .file-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 25px;
  color: #9E9E9E;
  margin-left: 16px; 
}

.file-tree .level .item {
  margin-top: 20px;
}

.html-icon {
  width: 21px;
  height: 24px;
  background-image: url('./assets/images/html-icon.svg');
  background-size: cover; 
  background-repeat:  no-repeat;
  float: left; 
}

.image-icon {
  width: 24px;
  height: 24px;
  background-image: url('./assets/images/image-icon.svg');
  background-size: cover; 
  background-repeat:  no-repeat;
  float: left; 
}

.js-icon {
  width: 27px;
  height: 30px;
  background-image: url('./assets/images/js-icon.svg');
  background-size: cover; 
  background-repeat:  no-repeat;
  float: left; 
}

.css-icon {
  width: 22px;
  height: 18px;
  background-image: url('./assets/images/css-icon.svg');
  background-size: cover; 
  background-repeat:  no-repeat;
  float: left; 
}

.canvas-box {
  width: 100%; 
  height: 100vh;
  right: 0; 
  top: 0; 
  bottom: 0; 
  position: absolute; 
  z-index: 999999;
}

.MyCursorClass {
  background-color: #000000;
  position: absolute;
  z-index: 99999;
}

.toolbar-tooltip {
  position: fixed; 
  width: 130px;
  height: 40px; 
  background-color: #000000; 
  color: #fff; 
  z-index: 9999999;
  opacity: 0.6;
  transition: opacity 0.4s, width 0.4s;
  -webkit-transition: opacity 0.4s, width 0.4s; 
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  left: calc(50% - 50px);
  padding: 5px;
  cursor: pointer;
  transition: opacity ease-in-out 0.2s
}

.toolbar-tooltip:hover {
  opacity: 1;
  transition: opacity ease-in-out 0.2s
}

.toolbar-tooltip .arrow {
  background-image: url('./assets/images/arrow-bottom-thick.svg');
  background-size: contain;
  background-size: 20px;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-top: 10px;
  float: left; 
  width: 30px;
  height: 30px;
}

.toolbar-tooltip .recording {
  float: left; 
  animation: blinker 2s ease-in-out infinite;
  width: 20px; 
  height: 20px; 
  background-color: #D14F4F;
  border-radius: 20px; 
  background-repeat: no-repeat;
  margin-top: 10px;
}

.toolbar-tooltip .label {
  color: #fff; 
  font-size: 10px; 
  float: left; 
  font-style: italic;
  margin-top: 13px;
  margin-right: 4px; 
  margin-left: 9px;
}

.arrow-left, .arrow-right {
  position: fixed;
  width: 40px; 
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  background-position: center;
  z-index: 9999999;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 0.4s, width 0.4s;
  -webkit-transition: opacity 0.4s, width 0.4s; 
}

.arrow-left:hover, .arrow-right:hover {
  opacity: 1; 
  cursor: pointer; 
  transition: opacity 0.2s, width 0.2s;
  -webkit-transition: opacity 0.2s, width 0.2s; 
  width: 50px;
}

.arrow-top, .arrow-bottom {
  position: fixed;
  width: 50px; 
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  background-position: center;
  z-index: 9999999;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 0.4s, width 0.4s;
  -webkit-transition: opacity 0.4s, width 0.4s; 
}

.arrow-top:hover, .arrow-bottom:hover {
  opacity: 1; 
  cursor: pointer; 
  transition: opacity 0.2s, height 0.2s;
  -webkit-transition: opacity 0.2s, height 0.2s; 
  height: 50px;
}

.arrow-top {
  top: 0; 
  left: calc(50% - 25px);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-image: url('./assets/images/arrow-bottom-thick.svg');
  background-size: contain;
  background-size: 20px;
}

.arrow-right {
  top: calc(50% - 25px);
  right: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-image: url('./assets/images/arrow-right-thick.svg');
  background-size: contain;
  background-size: 20px;
}

.arrow-bottom {
  bottom: 0;
  left: calc(50% - 25px);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-image: url('./assets/images/arrow-top-thick.svg');
  background-size: contain;
  background-size: 20px;
}

.arrow-left {
  top: calc(50% - 25px); 
  left: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-image: url('./assets/images/arrow-left-thick.svg');
  background-size: contain;
  background-size: 20px;
  position: fixed;
}

.canvas-box .arrow-left {
  position: absolute;
}

.tree {
  width: 300px;
  background-color: #000;
  position: absolute;
  height: 100vh;
}

.path {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.draw-area {
  width: 100%;
  height: 100vh;
  float: left;
  cursor: crosshair;
}

.drawing {
  height: 100%; 
  width: 100%;
}

.toolbar-box::before {
  content: ""; 
  position: absolute; 
  border-bottom: 18px solid #fff; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: -18px;
  margin-left: calc(50% - 71px)
}

.toolbar {
  width: 944px; 
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0;
  z-index: 9999999;
}

.toolbar-box.animated {
  position: relative;
  background: #FFFFFF;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  float: left;
  padding-left: 56px;
  padding-right: 56px;
  animation-timing-function: ease-in-out; 
  animation-duration: 0.2s;
}

.draw-color-list {
  float: left; 
}

.draw-color-list .draw-color {
  float: left; 
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  margin-right: 10px
}

.background-black {
  background-color: #000
}

.background-red {
  background-color: #880000
}

.custom-cursor {
  background-color: #880000;
  position: absolute;
  z-index: 9999999;
}

.tree-box.animated {
  width: 521px;
  background-color: #E0E0E0;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  float: left; 
  animation-timing-function: ease-in-out; 
  animation-duration: 0.2s;
}

.tree-box-inner {
  overflow: auto;
  height: 100%;
}

.tree-item-box {
  width: 521px;
  background-color: '#fff'; 
  position: relative;
  float: left; 
  margin-bottom: 15px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.color-label {
  position: absolute;
  width: 15px;
  height: 135px;
  left: 0px;
  top: 0px;

  border-radius: 2px 0px 0px 2px;
}

.left {
  float: left; 
}

.right {
  float: right;
}

.full-width {
  width: 100%; 
}

.item-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #555555;
  max-width: 210px;
  padding-left: 25px;
  padding-top: 13px;
  margin-left: -1px; /* Border correction */
  border-left: 1px solid #cccccc;
}

.item-content-box {
  margin-top: 10px;
  margin-bottom: 14px;
  margin-left: 15px;
}

.item-meta-content {
  padding-left: 12px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 8px;
  border-right: 1px solid #CCCCCC;
}

.item-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #333333;
}

.duration-label {
  opacity: 0.5
}

.duration-label, .duration-value {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #555555;
}

.tree-box .header {
  margin-top: 27px;
  margin-bottom: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #9E9E9E;
  float: left;
  width: 100%; 
}

.tree-box .header .header-title {
  margin-left: 27px;
}

.item-play {
  background-image: url('./assets/images/play.svg');
  opacity: 0.8;
  width: 50px;
  height: 50px;
  margin-top: 33px;
  margin-left: 15px;
  background-size: contain;
  cursor: pointer;
}

.item-play:hover {
  opacity: 1;
  transition: opacity ease-in-out 0.2s
}

.item-delete {
  background-image: url('./assets/images/delete.svg');
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  margin-top: 38px;
  margin-left: 30px;
  cursor: pointer; 
}

.item-delete:hover {
  background-color: rgba(253, 165, 165, 0.2); 
  border-radius: 3px; 
}

.record-icon {
  background-image: url('./assets/images/record.svg');
  height: 50px;
  width: 50px;
  background-size: 40%;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  transition: background-color ease-in-out 0.1s;
  animation: blinker 2s ease-in-out infinite;
}

.recording-icon {
  width: 35px;
  height: 35px; 
  background-color: #FF6666;
  border-radius: 20px;
  margin: 1px;
  margin-right: 51px;
  margin-top: 25px;
  margin-bottom: 18px;
  margin-left: 29px;
  margin-right: 21px;
  cursor: pointer;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.pause-icon {
  background-image: url('./assets/images/pause.svg');
  height: 50px;
  width: 50px;
  background-size: 35%;
  background-repeat: no-repeat; 
  background-position: center;
  transition: background-color ease-in-out 0.1s
}

.play-icon {
  background-image: url('./assets/images/play-transparent.svg');
  height: 50px;
  width: 50px;
  background-size: 35%;
  background-repeat: no-repeat; 
  background-position: center;
  transition: background-color ease-in-out 0.1s
}

.inactive-icon {
  opacity: 0.4; 
  cursor: auto;
}

.inactive-icon:hover {
  opacity: 0.4; 
  cursor: default !important;
  background-color: #fff !important; 
}

.save-icon {
  background-image: url('./assets/images/save.svg');
  height: 50px;
  width: 50px;
  background-size: 40%;
  background-repeat: no-repeat; 
  background-position: center;
  transition: background-color ease-in-out 0.1s
}

.toolbar-divider {
  border: 4px solid rgba(0, 0, 0, 0.2);
  /*transform: matrix(0, 1, 1, 0, 0, 0);*/
  margin-right: 20px;
  height: 42px;
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.edit-icon {
  background-image: url('./assets/images/edit.svg');
  height: 50px;
  width: 50px;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color ease-in-out 0.1s
}

.edit-icon-active {
  background-image: url('./assets/images/edit.svg');
  height: 35px;
  width: 35px;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(000, 000, 000, 0.3);
  transition: background-color ease-in-out 0.1s; 
  margin: 7.5px;
  border-radius: 3px;
}

.delete-icon {
  background-image: url('./assets/images/delete-gray.svg');
  height: 50px;
  width: 50px;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color ease-in-out 0.1s
}

.edit-icon, 
.stroke-icon, 
.color-icon, 
.settings-icon, 
.help-icon, 
.save-icon, 
.pause-icon, 
.play-icon, 
.record-icon, 
.close-icon, 
.delete-icon {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 21px;
  padding-right: 21px;
}

.edit-icon:hover, 
.stroke-icon:hover, 
.color-icon:hover, 
.settings-icon:hover, 
.help-icon:hover, 
.save-icon:hover, 
.pause-icon:hover, 
.play-icon:hover, 
.record-icon:hover, 
.close-icon:hover, 
.delete-icon:hover {
  background-color: #eeeeee;
  cursor: pointer; 
  transition: background-color ease-in-out 0.1s;
  border-radius: 3px;
}

.stroke-icon {
  background-image: url('./assets/images/stroke.svg');
  height: 50px;
  width: 50px;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color ease-in-out 0.1s
}

.color-icon {
  background-image: url('./assets/images/color.svg');
  height: 50px;
  width: 50px;
  background-size: 40%;
  background-repeat: no-repeat; 
  background-position: center;
  transition: background-color ease-in-out 0.1s
}

.settings-icon {
  background-image: url('./assets/images/settings.svg');
  height: 50px;
  width: 50px;
  background-size: 40%;
  background-repeat: no-repeat; 
  background-position: center;
  transition: background-color ease-in-out 0.1s
}

.help-icon {
  background-image: url('./assets/images/help.svg');
  height: 50px;
  width: 50px;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color ease-in-out 0.1s
}

.stroke-menu {
  position: absolute; 
  bottom: 58px; 
  right: 90px;
  height: 80px;
  width: 80px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  padding: 10px;
  border-radius: 3px;
}

.stroke-menu::before {
  content: "";
  position: absolute; 
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  top: calc(50% - 10px);
  right: -10px;
}

.stroke-menu .item {
  background-color: rgba(77, 77, 77, 0.4);
  width: 100%; 
}

.stroke-menu .item.active {
  background-color: #4D4D4D;
}

.stroke-menu .item.small {
  height: 5px;
  margin-bottom: 5px;
}

.stroke-menu .item.medium {
  height: 10px;
  margin-bottom: 5px;
}

.stroke-menu .item.large {
  height: 20px;
  margin-bottom: 5px;
}

.stroke-menu .item.ultralarge {
  height: 30px;
  margin-bottom: 5px;
}

.color-menu {
  position: absolute; 
  bottom: -25px; 
  right: 95px;
  height: 140px;
  width: 309px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.color-menu::before {
  content: "";
  position: absolute; 
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  top: calc(50% - 10px);
  right: -10px;
}

.color-menu .item {
  width: 37px;
  height: 37px;
  border-radius: 30px;
  margin-left: 25px;
  margin-top: 15px;
  cursor: pointer;
  transition: border 0.1s ease-in-out;
}

.background-grey {
  background-color: #C4C4C4;
  border: 6px solid #C4C4C4 
}

.background-red {
  background-color: #D14F4F;
  border: 6px solid #D14F4F
}

.background-orange {
  background-color: #F2994A;
  border: 6px solid #F2994A;
}

.background-green {
  background-color: #27AE60;
  border: 6px solid #27AE60
}

.background-blue {
  background-color: #56CCF2;
  border: 6px solid #56ccf2;
}

.background-darkgray {
  background-color: #333333;
  border: 6px solid #333333;
}

.background-purple {
  background-color: #BB6BD9;
  border: 6px solid #BB6BD9
}

.background-white {
  background-color: #fff; 
  border: 6px solid #C4C4C4
}

.color-menu .item:hover {
  border: 6px solid rgba(000, 000, 000, 0.4);
  transition: border 0.1s ease-in-out;
}





.close-tree {
  background-image: url('./assets/images/ic_close_black.svg'); 
  width: 40px;
  height: 40px;
  background-size: contain; 
  background-repeat: no-repeat;
  float: right;
  margin-top: 1px;
  margin-right: 27px;
  opacity: 0.4;
  cursor: pointer;
}

.reload-box .header {
  width: 100%; 
  height: 60px;
  background-color: #cccccc;
  margin-bottom: 20px;
}

.close-icon {
  background-image: url('./assets/images/cross-close.svg'); 
  width: 50px;
  height: 50px;
  background-size: 40%;
  background-position: center; 
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
  float: left; 
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  background-color: rgba(000,000,000,0.6);
  z-index: 9999999999;
}

.modal-box {
  width: 400px;
  height: 200px; 
  background-color: #eaeaeb; 
  border-radius: 3px; 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  margin: auto;
  z-index: 9999999999;
}

.modal-box#modal-box-save {
  height: 250px;
}

.modal-box-header {
  padding: 18px 20px;
  border-bottom: 1px solid #DDDFE6; 
  font-size: 21px;
  color: #252C41;
  position: relative;
}

.modal-box-content {
  padding: 18px 20px;
}

.modal-box-close {
}

.modal-box-save {
  background-color: #009688;
  border-radius: 2px;
  padding: 7px 15px; 
  color:#fff;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin-top: 40px;
}

.modal-box-close:hover {
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.modal-box-content .body-text {
  font-size: 16px;
}

.modal-box-cancel {
  background-color: rgba(0, 0, 0, 0.192);;
  border-radius: 2px;
  padding: 7px 15px; 
  color:#fff;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin-top: 40px;
}

.modal-box-delete {
  background-color: rgb(241, 62, 62);
  border-radius: 2px;
  padding: 7px 15px; 
  font-weight: 500;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.save-recording-label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.539261);
}

.save-recording {
  width: 100%; 
  background-color: transparent;
  border: 0px solid transparent; 
  border-bottom: 2px solid #009688; 
  border-radius: 0;
  outline: 0;
  min-height: 50px;
}

.movie-fullscreen {
  position: fixed; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0; 
  width: 100%; 
  height: 100vh; 
  z-index: 9999999999;
  background-color: rgba(000, 000, 000, 0.9); 
  transition: background-color ease-in 2s;
  border: 0;
}

iframe {
  border: 0; 
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  margin-top: 100px;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.movie-close {
  background-image: url('./assets/images/ic_close_white.svg');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: cover; 
  position: absolute;
  top: 20px;
  left: 20px; 
  cursor: pointer; 
  z-index: 99999999999999999;
}

@include keyframes(spin) {
  from { @include transform(rotate(180deg)); }
  to   { @include transform(rotate(720deg)); }
}

@include keyframes(reverse-spin) {
  from { @include transform(rotate(720deg)); }
  to   { @include transform(rotate(180deg)); }
}

#btn-main.active + ul > li > a {
  @include transform(scaleY(1) scaleX(1) translateY(40px));
  opacity: 1;
}

.btn-primary {
  z-index: 9999999999;
  position: fixed;
  background-image: url('./assets/images/edit-white.svg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%; 
}

.btn-primary:before {
  display: inline-block;
  content: attr(data-text);
  @include transform(translateY(0.1em));
}

.btn-primary.reverse-animation:before {
  @include animation-name(reverse-spin);
  @include animation-duration(300ms);
  @include animation-iteration-count(1);
  @include animation-timing-function(linear);
}

.btn-primary.active {
  background-size: 55%;
  background-image: url('./assets/images/ic_close_white.svg'); 
}

.btn-primary.active:before {
  display: inline-block;
  @include animation-name(spin);
  @include animation-duration(300ms);
  @include animation-iteration-count(1);
  @include animation-timing-function(linear);
  content: attr(data-active-text);
}

.btn-secondary {
  @include transform(scaleY(0.4) scaleX(0.4));
  @include transition(all 0.4s cubic-bezier(.64,.09,.08,1));
}

.btn-floating {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 40px;
  color: white;
  margin: 10px;
}

.btn-color {
  padding-top: 12.5px;
  height: 47.5px;
}

.btn-width {
  padding-top: 15px;
  height: 45px;
}

.btn-large {
  margin: -40px 0;
  height: 70px;
  width: 70px;
  line-height: 60px;
  font-size: 2.4em;
}

.fixed-action-btn {
  position: absolute;
  bottom: 43px;
  right: 33px;
  width: 50px;
  margin: auto;
}

.fixed-action-btn ul {
  z-index: 9999999999;
  position: absolute;
  top: -275px;
  right: -24px;
}

.btn-stroke-width {
  width: 40px; 
  height: 5px; 
  background-color: #f2994a; 
  margin-left: auto;
  margin-right: auto;
  
}

.btn-stroke-color {
  background-color: #f2994a;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px; 
  border-radius: 50%; 
  margin-left: auto; 
  margin-right: auto; 
  background-position: center;
}

.btn-stroke-delete {
  background-image: url('./assets/images/delete-gray.svg'); 
  background-repeat: no-repeat;
  background-size: 40%; 
  background-position: center;
}

.red    { background-color: red; }
.yellow { background-color: yellow; }
.green  { background-color: green; }
.blue   { background-color: blue; }
.white  { background-color: white;}

ul {
  list-style-type: none;
  padding: 0;
}
