.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.editor-mirror.ace_editor {
  width: 100%;
  height: 100vh; 
  /*font-family: 'Courier,monospace' !important;*/
  font-size: 12px;
}

.canvas-box {
  width: 100%; 
  height: 100vh;
  right: 0; 
  top: 0; 
  bottom: 0; 
}

.MyCursorClass {
  background-color: #000000;
  position: absolute;
  z-index: 99999;
}

.arrow {
  position: fixed;
  width: 50px; 
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  z-index: 9999999;
}

.arrow-top {
  top: 0; 
  left: calc(50% - 25px)
}

.arrow-right {
  top: calc(50% - 25px);
  right: 0;
}

.arrow-bottom {
  bottom: 0;
  left: calc(50% - 25px)
}

.arrow-left {
  top: calc(50% - 25px); 
  left: 0;
}

.tree {
  width: 300px;
  background-color: #000;
  position: absolute;
  height: 100vh;
}

.path {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.draw-area {
  width: 100%;
  height: 100vh;
  float: left;
  cursor: crosshair;
}

.drawing {
  height: 100%; 
  width: 100%;
}

.toolbar-box::before {
  content: ""; 
  position: absolute; 
  border-bottom: 18px solid #fff; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: -18px;
  margin-left: calc(50% - 15px)
}

.toolbar {
  width: 1060px; 
  margin-left: auto;
  margin-right: auto;
}

.toolbar-box {
  position: relative;
  width: 1060px; 
  background: #FFFFFF;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 37px;
  padding-bottom: 37px;
  float: left;
  padding-left: 56px;
}

.draw-color-list {
  float: left; 
}

.draw-color-list .draw-color {
  float: left; 
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  margin-right: 10px
}

.background-black {
  background-color: #000
}

.background-red {
  background-color: #880000
}

.custom-cursor {
  background-color: #880000;
  position: absolute;
  z-index: 9999999;
}

.tree-box {
  width: 521px;
  background-color: #E0E0E0;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  float: left; 
}

.tree-item-box {
  width: 521px;
  background-color: '#fff'; 
  position: relative;
  float: left; 
  margin-bottom: 15px;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.color-label {
  position: absolute;
  width: 15px;
  height: 135px;
  left: 0px;
  top: 0px;

  border-radius: 2px 0px 0px 2px;
}

.left {
  float: left; 
}

.item-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #555555;
  max-width: 210px;
  padding-left: 25px;
  padding-top: 13px;
  margin-left: -1px; /* Border correction */
  border-left: 1px solid #cccccc;
}

.item-content-box {
  margin-top: 10px;
  margin-bottom: 14px;
  margin-left: 15px;
}

.item-meta-content {
  padding-left: 12px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 8px;
  border-right: 1px solid #CCCCCC;
}

.item-date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #333333;
}

.duration-label {
  opacity: 0.5
}

.duration-label, .duration-value {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  color: #555555;
}

.tree-box .header {
  margin-top: 27px;
  margin-bottom: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #9E9E9E;
}

.item-play {
  background-image: url('./assets/images/play.svg');
  width: 50px;
  height: 50px;
  margin-top: 33px;
  margin-left: 15px;
  background-size: contain;
}

.item-delete {
  background-image: url('./assets/images/delete.svg');
  width: 14px;
  height: 18px;
  background-size: contain;
  margin-top: 50px;
  margin-left: 50px;
}

.record-icon {
  background-image: url('./assets/images/record.svg');
  height: 42px;
  width: 42px;
  background-size: contain;
  margin-right: 50px;
  background-repeat: no-repeat
}

.pause-icon {
  background-image: url('./assets/images/pause.svg');
  height: 42px;
  width: 42px;
  background-size: contain;
  margin-right: 50px;
  background-repeat: no-repeat
}

.save-icon {
  background-image: url('./assets/images/save.svg');
  height: 42px;
  width: 42px;
  background-size: contain;
  margin-right: 50px;
  background-repeat: no-repeat
}

.toolbar-divider {
}

.edit-icon {
  background-image: url('./assets/images/edit.svg');
  height: 42px;
  width: 42px;
  background-size: contain;
  margin-right: 50px;
  background-repeat: no-repeat
}

.stroke-icon {
  background-image: url('./assets/images/stroke.svg');
  height: 42px;
  width: 42px;
  background-size: contain;
  margin-right: 50px;
  background-repeat: no-repeat
}

.color-icon {
  background-image: url('./assets/images/color.svg');
  height: 42px;
  width: 42px;
  background-size: contain;
  margin-right: 50px;
  background-repeat: no-repeat
}

.settings-icon {
  background-image: url('./assets/images/settings.svg');
  height: 42px;
  width: 42px;
  background-size: contain;
  margin-right: 50px;
  background-repeat: no-repeat
}

.help-icon {
  background-image: url('./assets/images/help.svg');
  height: 42px;
  width: 42px;
  background-size: contain;
  margin-right: 50px;
  background-repeat: no-repeat
}