.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.editor-mirror.ace_editor {
  position: absolute;
  width: 100%;
  height: 100vh; 
  right: 0;
  top: 0;
  bottom: 0;
  /*font-family: 'Courier,monospace' !important;*/
  font-size: 12px;
}

.canvas-box {
  width: 100%; 
  height: 100vh;
  right: 0; 
  top: 0; 
  bottom: 0; 
}

.MyCursorClass {
  background-color: #000000;
  position: absolute;
  z-index: 99999;
}

.arrow {
  position: fixed;
  width: 50px; 
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  z-index: 9999999;
}

.arrow-top {
  top: 0; 
  left: calc(50% - 25px)
}

.arrow-right {
  top: calc(50% - 25px);
  right: 0;
}

.arrow-bottom {
  bottom: 0;
  left: calc(50% - 25px)
}

.arrow-left {
  top: calc(50% - 25px); 
  left: 0;
}

.tree {
  width: 300px;
  background-color: #000;
  position: absolute;
  height: 100vh;
}

.path {
  fill: none;
  stroke-width: 1px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.draw-area {
  width: 100%;
  height: 100vh;
  float: left;
  cursor: crosshair;
}

.drawing {
  height: 100%; 
  width: 100%;
}

.toolbar-box {
  width: 100%; 
  background-color: #eee;
  position: absolute;
  top: 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  padding: 10px
}

.draw-color-list {
  float: left; 
}

.draw-color-list .draw-color {
  float: left; 
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
  margin-right: 10px
}

.background-black {
  background-color: #000
}

.background-red {
  background-color: #880000
}

.custom-cursor {
  background-color: #880000;
  position: absolute;
  z-index: 9999999;
}